<!DOCTYPE html>
<html>
<head>
  <title>StatusPage</title>
  <%= stylesheet_link_tag    "status_page/application", :media => "all" %>
  <%= javascript_include_tag "status_page/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
